@font-face {
    font-family: 'mce';
    src: url('fonts/mce.eot?63090115');
    src: url('fonts/mce.eot?63090115#iefix') format('embedded-opentype'), url('fonts/mce.woff?63090115') format('woff'), url('fonts/mce.ttf?63090115') format('truetype'), url('fonts/mce.svg?63090115#mce') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'mce';
        src: url('fonts/mce.svg?63090115#mce') format('svg');
    }
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "mce";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: left;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
}
.icon-doc-text:before {
    content: '\e800';
}
.icon-video:before {
    content: '\e801';
}
.icon-mic:before {
    content: '\e803';
}
.icon-location:before {
    content: '\e804';
}
.icon-smile:before {
    content: '\e805';
}
.icon-tag:before {
    content: '\e806';
}
.icon-popup:before {
    content: '\e807';
}
.icon-file-video:before {
    content: '\e808';
}
.icon-paypal:before {
    content: '\e809';
}
.icon-columns:before {
    content: '\e80a';
}
.icon-button:before {
    content: '\e80b';
}
.icon-comment:before {
    content: '\e80c';
}
.icon-bell:before {
    content: '\e80d';
}
.icon-suitcase:before {
    content: '\e80e';
}
.icon-dropcap:before {
    content: '\e80f';
}
.icon-chart-bar:before {
    content: '\e810';
}
.icon-row:before {
    content: '\e811';
}
.icon-doc-landscape:before {
    content: '\e812';
}
.icon-file-code:before {
    content: '\e813';
}
.icon-doc:before {
    content: '\e814';
}
.icon-ellipsis:before {
    content: '\e815';
}
.icon-eq:before {
    content: '\e802';
}
.icon-ellipsis-vert:before {
    content: '\e816';
}
.icon-quote:before {
    content: '\e817';
}
}i.mce-i-icon {
    font: 300 15px/1.625 mce;
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px;
}
.trackwrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.trackwrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.googlemap {
    position: relative;
    max-width: inherit;
}
.googlemap .map_canvas {
    width: 100%;
    height: 100%;
}
.googlemap.map_canvas h3 {
    margin: 0 0 10px;
    font-size: 14px;
}
.map_canvas img {
    max-width: none !important
}
